<header>
	<div class="banner">
		<% logo = image_tag("logo1.png", :alt => "MyMoviez") %>
		<%= link_to logo, root_path %>
		<h1><%= link_to "MyMoviez", root_path %></h1>
		<h2>Vos listes de films, en 1 clic !</h2>
	</div>
</header>